@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

body{
    background: #343434;
    overflow-x: hidden;
}
svg{
    position: absolute;
    top: -40%;
    right: -5%;
    z-index: -21;
    width: 120%;
}
.content{
    display: flex;
    flex-direction: column;
    margin-top: 37vh;
    margin-left:4vw;
}
h1{
    font-size :50px ; 
    color: rgb(245, 245, 245);
    width: 48%;
}
p{
    color:rgb(255, 255, 255);
    font-size: 23px;
    margin-top: 17px;
    font-weight: bold;
    position: relative;
    width: 170px;
}
p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 50%;
    height: 3px;
    background: rgb(255, 255, 255);
}
a{
    width: 170px;
    background: rgb(4, 162, 228);
    padding: 10px;
    color:black;
    font-size: 20px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-weight: 550;
    margin-top: 20px;
}
